<div class="jumbotron">
    <h1>Welcome to OGD Media Repo</h1>
    <p class="lead">More than anything, we strive to be a meaningful IT partner. We believe that added value is the basis for any successful collaboration. We provide this added value by using only those technologies that help build reliable and flexible IT solutions for all our customers.</p>
    <p><a href="https://www.ogd.nl/en/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Software & BI</h2>
        <p>Ik wil een app ontwikkelen of mijn Business Intelligence inrichten.</p>
        <p><a class="btn btn-default" href="https://www.ogd.nl/diensten/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Outsourcing</h2>
        <p>Ik wil mijn beheer of ondersteuning (deels) uitbesteden.</p>
        <p><a class="btn btn-default" href="https://www.ogd.nl/diensten/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Professional Services</h2>
        <p>Ik zoek tijdelijk extra ondersteuning.</p>
        <p><a class="btn btn-default" href="https://www.ogd.nl/diensten/">Learn more &raquo;</a></p>
    </div>
</div>
